    /*Variables*/
$Strong-Cyan :hsl(171, 66%, 44%);
$Light-Blue:hsl(233, 100%, 69%);
$Dark-Grayish-Blue :hsl(210, 10%, 33%);
$Grayish-Blue :hsl(201, 11%, 66%);
$title-font-size:20px;
$width-button-mobile:312px;
$margin-bottom-text-figure:60px;

/*mixins*/
@mixin button-value {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #ffffffd7;
    width: $width-button-mobile;
    height: 55px;
    border-radius: 45px;
    margin-bottom: 22px;
    border: transparent ;
    cursor: pointer;

    @media screen and (min-width:687px) {
        width: 200px;
        font-size: 15px;
        height: 50px;        
    }
}
@mixin title-value {
    font-family: 'Bai Jamjuree', sans-serif;
    color: $Dark-Grayish-Blue;
}
@mixin text-value {
    font-size: 16px;
    color: $Grayish-Blue;
    font-family:'Bai Jamjuree', sans-serif;
}
@mixin display-grid {
    display: grid;
    place-items: center;
}
@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
} 
@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
}
@mixin width-image{
    width: 312px;
    height: 238px;
    margin-bottom: $margin-bottom-text-figure;
    @media screen and (min-width:687px) {
        width: 719px;
        height: 400px;
        margin-bottom: 15px;
    }
}
@mixin media-margin-null {
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
    box-sizing: border-box;
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0;
    height: 5205px;
    display: flex;
    justify-content: center;

    @media screen and (min-width:377px) { 
        background-image: url(/images/bg-header-desktop.png);
    }
}
main {
    text-align: center;
    width: 311px;
    height: 5033px;
    @media screen and  (min-width:687px) {
        width: 100%;        
        height: 3381px;
    }
}
a {
    text-decoration: none;
    color: $Dark-Grayish-Blue;
}

//section de l'en-tête
.section-top {
    width: 313px;
    height: 1677px;
    margin-top: 122px;
    font-size: $title-font-size;
    margin-bottom: 196px;
    @media screen and (min-width:687px) {
        @include display-grid;
        width:100%;
        height: 1381px;
        &__logo {
            margin-right: 25px;
        }         
    }
    &__title-first {
        @include title-value;
        @media screen and (min-width:687px) {
            width: 100%;
            font-size: 39px;       
            margin-bottom: 0;   
        }
    }
    &__title-second {
        @media screen and (min-width:687px) {
            width: 100%;
            font-size: 30px;            
        }
    }
    &__text {
        @media screen and (min-width:687px) {
            font-size: 18px;        
        }
    }
    & p{
        font-size: 16.3px;
        color: $Grayish-Blue;
        line-height: 25px;
        width: 312px;
        font-family: 'Bai Jamjuree', sans-serif;
        @media screen and (min-width:377px) {
            width: 100%;            
        }
    }
    p.first-top__text {
        @media screen and (min-width:687px) {
            font-size: 18.5px;        
        }
    }
    &__button{
        width: 312px;
        height: 137px;
        margin-bottom: 140px;
        @media screen and (min-width:1046px) {
            width: 100%;
            height: 58px;            
        }
    }
    .button-ios,
    .button-mac {
        margin-right: 20px;
    }
    .button-ios {
        background-color: $Strong-Cyan;
        @include button-value;
    }
    .button-mac {
        background-color: $Light-Blue;
        @include button-value;
    }  
}
.section-top__flex {
    &-title--Fourth, 
    &-title--third,
    &-title--Fifth {
        @include title-value;
        font-size: 23px;
    }
    @media screen  and (min-width:1046px) {
        display: flex;
        width: 100%;
        height: 537px;
        &__element__article {
            text-align: initial;
            width: 341px;
            height: 396px;
            font-size: 12px;
            margin-left: 107px;
            margin-top: 60px;
        }
        &__text {
            width: 100%;
            margin-bottom: 50px;
        }        
    }
}
.section-top__flex__figure {
    @include width-image;
    @media screen and (min-width:1047px) {
        width: 723px;
        height: 573px;        
    }    
}
.section__top__title {
    @include title-value;
    font-size: 27px;
    margin: 0;
}
p.section-top__text {
    margin-bottom: 60px;
    @media screen and (min-width:687px) {
        width: 620px;
        margin-top: 0;
        margin-bottom: 50px;
    }   
}

//milieu du corps de la page  
.section-bottom {
   // background-color: rgba(102, 51, 153, 0.37);
    width: 313px;
    height: 2546px;
    @media screen and (min-width:687px) {
        width: 100%;
        height: 1619px;        
    }
    &__figure {
       width: 100%;
       height: 181px;
       margin-bottom:$margin-bottom-text-figure;
       display: flex;
       justify-content: center;
       img {
        width: 313px;
       }
    }
    &__title-first {
        @include title-value;
        font-size: 27px
    }
    &__text {
        @include text-value;
        line-height: 25px;
        margin-bottom:$margin-bottom-text-figure;
    }
}
.section-bottom__icons-texts {
    width: 310px;
    height: 669px;
    margin-bottom: 150px;
    //background-color: rgb(32, 129, 97);
    img {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 60px;
        font-size: 16.3px;
        line-height: 25px;
        @include title-value;
    }
}
.section-bottom__web-icons {
    display: grid;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 444px;

    img {
        width: 150px;
        height: 35px;
        margin-bottom:60px;
    }
}

//le pieds de pages
.footer-content {
    @include display-grid;
    background-color: rgba(170, 170, 170, 0.253);
    width: 313px;
    height: 502px;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;        

    @media screen and (min-width:687px) {
    @include flex-space-around;
    align-items: center;
    height:151px;
    width: 100%;    
 }    
    &>ul {
        height: 219px;
        list-style: none;
        padding: 0;
        margin-bottom: 70px;        
        text-decoration: none;
        @media screen and (min-width:687px) {
            margin: 0;
            @include flex-space-between;
            width:484px;
            height: 58px;
        }       
        li {
            margin-bottom: 36px;
            @media screen and (min-width:687px) {
                margin-right: 20px;
                margin-bottom: 0;
                a {
                    width: 118px;
                    height: 59px;
                    margin-right: 20px;
                }                
            }
        }
    }    

    &__logo {
        width: 56px;
        margin-top: 30px;
        height: 56px;
        @include media-margin-null;
    }
}
.footer-content__social-icons {
    @include flex-space-between;
    @include media-margin-null;
    width: 150px;
    height: 24px;
    margin-bottom: 40px;
}