/*Variables*/
/*mixins*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
body {
  box-sizing: border-box;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0;
  height: 5033px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 377px) {
  body {
    background-image: url(/images/bg-header-desktop.png);
    height: 3650px;
  }
}
@media screen and (min-width: 687px) {
  body {
    height: 4250px;
  }
}
@media screen and (min-width: 687px) and (min-width: 1014px) {
  body {
    height: 3470px;
  }
}

main {
  text-align: center;
  width: 311px;
  height: 5033px;
}
@media screen and (min-width: 687px) {
  main {
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

.active a {
  color: hsl(171, 66%, 44%);
}

.section-top {
  width: 313px;
  height: 1677px;
  margin-top: 122px;
  font-size: 20px;
  margin-bottom: 196px;
}
@media screen and (min-width: 687px) {
  .section-top {
    display: grid;
    place-items: center;
    width: 100%;
    height: 1381px;
  }
  .section-top__logo {
    margin-right: 25px;
  }
}
.section-top__title-first {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
}
@media screen and (min-width: 687px) {
  .section-top__title-first {
    width: 100%;
    font-size: 39px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 687px) {
  .section-top__title-second {
    width: 100%;
    font-size: 30px;
  }
}
@media screen and (min-width: 687px) {
  .section-top__text {
    font-size: 18px;
  }
}
.section-top p {
  font-size: 16.3px;
  color: hsl(201, 11%, 66%);
  line-height: 25px;
  width: 312px;
  font-family: "Bai Jamjuree", sans-serif;
}
@media screen and (min-width: 377px) {
  .section-top p {
    width: 100%;
  }
}
@media screen and (min-width: 687px) {
  .section-top p.first-top__text {
    font-size: 18.5px;
  }
}
.section-top__button {
  width: 312px;
  height: 137px;
  margin-bottom: 140px;
}
@media screen and (min-width: 1046px) {
  .section-top__button {
    width: 100%;
    height: 58px;
  }
}
.section-top .button-ios,
.section-top .button-mac {
  margin-right: 20px;
}
.section-top .button-ios {
  background-color: hsl(171, 66%, 44%);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8431372549);
  width: 312px;
  height: 55px;
  border-radius: 45px;
  margin-bottom: 22px;
  border: transparent;
  cursor: pointer;
  box-shadow: 1px 20px 7px -10px rgba(63, 242, 217, 0.4);
  border-bottom: 3px outset rgba(43, 161, 146, 0.4);
  border-radius: 40px;
}
@media screen and (min-width: 687px) {
  .section-top .button-ios {
    width: 200px;
    font-size: 15px;
    height: 50px;
  }
}
.section-top .button-ios:hover {
  background-color: rgb(56, 233, 180);
  transition: 0.3s;
}
.section-top .button-mac {
  background-color: hsl(233, 100%, 69%);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8431372549);
  width: 312px;
  height: 55px;
  border-radius: 45px;
  margin-bottom: 22px;
  border: transparent;
  cursor: pointer;
  box-shadow: 1px 20px 7px -10px rgba(143, 140, 230, 0.63);
  border-bottom: 3px outset rgba(90, 87, 187, 0.438);
  border-radius: 40px;
}
@media screen and (min-width: 687px) {
  .section-top .button-mac {
    width: 200px;
    font-size: 15px;
    height: 50px;
  }
}
.section-top .button-mac:hover {
  background-color: hsl(212, 64%, 67%);
  transition: 0.3s;
}

/*Hover*/
.section-top__flex-title--Fourth, .section-top__flex-title--third, .section-top__flex-title--Fifth {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 23px;
}
@media screen and (min-width: 1046px) {
  .section-top__flex {
    display: flex;
    width: 100%;
    height: 537px;
  }
  .section-top__flex__element__article {
    text-align: initial;
    width: 341px;
    height: 396px;
    font-size: 12px;
    margin-left: 107px;
    margin-top: 60px;
  }
  .section-top__flex__text {
    width: 100%;
    margin-bottom: 50px;
  }
}

.section-top__flex__figure {
  width: 312px;
  height: 238px;
  margin-bottom: 60px;
}
@media screen and (min-width: 687px) {
  .section-top__flex__figure {
    width: 719px;
    height: 450px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1047px) {
  .section-top__flex__figure {
    width: 723px;
    height: 573px;
  }
}

.section__top__title {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 27px;
  margin: 0;
}

p.section-top__text {
  margin-bottom: 60px;
}
@media screen and (min-width: 687px) {
  p.section-top__text {
    width: 620px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.section-bottom {
  width: 313px;
  height: 2546px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 687px) {
  .section-bottom {
    width: inherit;
    height: 1619px;
  }
}
.section-bottom__figure {
  width: 100%;
  height: 181px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 377px) {
  .section-bottom__figure {
    width: initial;
    height: initial;
  }
}
.section-bottom__figure img {
  width: 313px;
}
@media screen and (min-width: 687px) {
  .section-bottom__figure img {
    width: 100%;
  }
}
.section-bottom__title-first {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 27px;
}
.section-bottom__text {
  font-size: 16px;
  color: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 25px;
  margin-bottom: 60px;
}
@media screen and (min-width: 687px) {
  .section-bottom__text {
    width: 600px;
  }
}
.section-bottom__title-second, .section-bottom__title-end {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 28px;
  margin-bottom: 0;
}
.section-bottom__text-end {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 16.3px;
  color: hsl(201, 11%, 66%);
  margin-bottom: 45px;
}
@media screen and (min-width: 687px) {
  .section-bottom__text-end {
    width: 620px;
    height: 55px;
  }
}
.section-bottom__blacklist h2 {
  margin-top: 10px;
}

.text_title-second {
  margin-top: 0;
}

.section-bottom__icons-texts {
  width: 310px;
  height: 769px;
  margin-bottom: 150px;
}
@media screen and (min-width: 1014px) {
  .section-bottom__icons-texts {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 220px;
  }
}
.section-bottom__icons-texts img {
  margin-bottom: 30px;
}
.section-bottom__icons-texts p {
  margin-bottom: 60px;
  font-size: 16.3px;
  line-height: 25px;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  color: hsl(201, 11%, 66%);
}
@media screen and (min-width: 687px) {
  .section-bottom__icons-texts p {
    width: 100%;
    height: 76px;
  }
}

.icon-bottom {
  width: 310px;
}
.icon-bottom__title {
  font-size: 23px;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
}

.section-bottom__title-end__button {
  display: grid;
  place-items: center;
  font-size: 30px;
  width: 312px;
  height: 137px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1046px) {
  .section-bottom__title-end__button {
    display: initial;
    width: 100%;
    height: 55px;
    margin-bottom: 140px;
  }
  .section-bottom__title-end__button-ios {
    margin-right: 20px;
  }
}
.section-bottom__title-end__button-ios {
  background-color: hsl(171, 66%, 44%);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8431372549);
  width: 312px;
  height: 55px;
  border-radius: 45px;
  margin-bottom: 22px;
  border: transparent;
  cursor: pointer;
  box-shadow: 1px 20px 7px -10px rgba(63, 242, 217, 0.4);
  border-bottom: 3px outset rgba(43, 161, 146, 0.4);
  border-radius: 40px;
}
@media screen and (min-width: 687px) {
  .section-bottom__title-end__button-ios {
    width: 200px;
    font-size: 15px;
    height: 50px;
  }
}
.section-bottom__title-end__button-ios:hover {
  background-color: rgb(56, 233, 180);
  transition: 0.3s;
}
.section-bottom__title-end__button-mac {
  background-color: hsl(233, 100%, 69%);
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8431372549);
  width: 312px;
  height: 55px;
  border-radius: 45px;
  margin-bottom: 22px;
  border: transparent;
  cursor: pointer;
  box-shadow: 1px 20px 7px -10px rgba(143, 140, 230, 0.63);
  border-bottom: 3px outset rgba(90, 87, 187, 0.438);
  border-radius: 40px;
}
@media screen and (min-width: 687px) {
  .section-bottom__title-end__button-mac {
    width: 200px;
    font-size: 15px;
    height: 50px;
  }
}
.section-bottom__title-end__button-mac:hover {
  background-color: hsl(212, 64%, 67%);
  transition: 0.3s;
}

.section-bottom__web-icons {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 444px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1014px) {
  .section-bottom__web-icons {
    display: flex;
    justify-content: center;
    flex-direction: initial;
    gap: 65px;
    width: 100%;
    height: 55px;
  }
}
.section-bottom__web-icons img {
  width: 145px;
  height: 40px;
  margin-bottom: 60px;
}

.footer-content {
  display: grid;
  place-items: center;
  background-color: rgba(170, 170, 170, 0.253);
  width: 313px;
  height: 502px;
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
  margin-top: 100px;
}
@media screen and (min-width: 687px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
    margin-top: 1100px;
    height: 151px;
    width: 100%;
  }
}
@media screen and (min-width: 687px) and (min-width: 1014px) {
  .footer-content {
    margin-top: 200px;
  }
}
.footer-content > ul {
  height: 219px;
  list-style: none;
  padding: 0;
  margin-bottom: 70px;
  text-decoration: none;
}
@media screen and (min-width: 687px) {
  .footer-content > ul {
    display: flex;
    place-items: center;
    text-align: initial;
    margin: 0;
    width: 500px;
    height: 58px;
  }
}
.footer-content > ul li {
  margin-bottom: 36px;
}
.footer-content > ul li :hover {
  color: rgb(15, 182, 132);
  transition: 0.03s;
}
@media screen and (min-width: 687px) {
  .footer-content > ul li {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.footer-content__logo {
  width: 56px;
  margin-top: 45px;
  height: 56px;
  margin: 0;
}

.footer-content__social-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 24px;
  margin-bottom: 40px;
  cursor: pointer;
}
@media screen and (min-width: 687px) {
  .footer-content__social-icons {
    margin-bottom: 0;
  }
}
.footer-content__social-icons .active {
  filter: sepia(100%) saturate(711%) hue-rotate(495deg) brightness(100%) contrast(100%);
}
.footer-content__social-icons img:hover {
  filter: sepia(100%) saturate(711%) hue-rotate(495deg) brightness(100%) contrast(100%);
  transition: 0.03s;
}/*# sourceMappingURL=style.css.map */