/*Variables*/
$Strong-Cyan :hsl(171, 66%, 44%);
$Light-Blue:hsl(233, 100%, 69%);
$Dark-Grayish-Blue :hsl(210, 10%, 33%);
$Grayish-Blue :hsl(201, 11%, 66%);
$title-font-size:20px;
$width-button-mobile:312px;
$margin-bottom-text-figure:60px;

@mixin button-value {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #ffffffd7;
    width: $width-button-mobile;
    height: 55px;
    border-radius: 45px;
    margin-bottom: 22px;
    border: transparent ;
    cursor: pointer;

    @media screen and (min-width:687px) {
        width: 200px;
        font-size: 15px;
        height: 50px;        
    }
}
@mixin title-value {
    font-family: 'Bai Jamjuree', sans-serif;
    color: $Dark-Grayish-Blue;
}
@mixin display-grid {
    display: grid;
    place-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
    box-sizing: border-box;
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0;
    height: 5205px;
    display: flex;
    justify-content: center;

    @media screen and (min-width:377px) { 
        background-image: url(/images/bg-header-desktop.png);
    }
}
main {
    text-align: center;
    width: 311px;
    height: 5033px;
    @media screen and  (min-width:687px) {
        width: 100%;        
        height: 3381px;
    }
}
//section de l'en-tête
.section-top {
    width: 313px;
    height: 1677px;
    margin-top: 122px;
    font-size: $title-font-size;
    margin-bottom: 196px;
    @media screen and (min-width:687px) {
        @include display-grid;
        width:100%;
        height: 1381px;
        &__logo {
            margin-right: 25px;
        }         
    }
    &__title--first {
        @include title-value;
        @media screen and (min-width:687px) {
            width: 100%;
            font-size: 39px;       
            margin-bottom: 0;   
        }
    }
    &__title--second {
        @media screen and (min-width:687px) {
            width: 100%;
            font-size: 30px;            
        }
    }
    &__text {
        @media screen and (min-width:687px) {
            font-size: 18px;        
        }
    }
    & p{
        font-size: 16.3px;
        color: $Grayish-Blue;
        line-height: 25px;
        width: 312px;
        font-family: 'Bai Jamjuree', sans-serif;
        @media screen and (min-width:377px) {
            width: 100%;            
        }
    }
    p.first-top__text {
        @media screen and (min-width:687px) {
            font-size: 18.5px;        
        }
    }
    &__button{
        width: 312px;
        height: 137px;
        margin-bottom: 140px;
        @media screen and (min-width:1046px) {
            width: 100%;
            height: 58px;            
        }
    }
    .button-ios,
    .button-mac {
        margin-right: 20px;
    }
    .button-ios {
        background-color: $Strong-Cyan;
        @include button-value;
    }
    .button-mac {
        background-color: $Light-Blue;
        @include button-value;
    }  
}
.section-top__flex {
    @media screen  and (min-width:1046px) {
        display: flex;
        width: 100%;
        height: 537px;
        &__element__article {
            text-align: initial;
            width: 341px;
            height: 396px;
            font-size: 12px;
            margin-left: 107px;
            margin-top: 60px;
        }
        &__text {
            width: 100%;
            margin-bottom: 50px;
        }        
    }
}
@mixin width-image{
    width: 312px;
    height: 238px;
    margin-bottom: $margin-bottom-text-figure;
    @media screen and (min-width:687px) {
        width: 719px;
        height: 400px;
        margin-bottom: 15px;
    }
}
.section-top__figure {
    @include width-image;
    @media screen and (min-width:1047px) {
        width: 723px;
        height: 573px;        
    }    
}
.section__top__title {
    @include title-value;
    font-size: 25px;
    margin: 0;
}
p.section-top__text {
    margin-bottom: 60px;
    @media screen and (min-width:687px) {
        width: 620px;
        margin-top: 0;
        margin-bottom: 50px;
    }   
}
//section du bas 
.section-bottom {
    background-color: rgba(102, 51, 153, 0.37);
    width: 313px;
    height: 2546px;
    @media screen and (min-width:687px) {
        width: 100%;
        height: 1619px;        
    }
}

.footer-content {
    background-color: rgba(170, 170, 170, 0.253);
    width: 313px;
    height: 502px;
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;

    &__image {
        width: 55px;
        height: 55px;
    }
    &__social__icons {
        background-color: rgba(102, 51, 153, 0.438);
        width: 123px;
        height: 25px;
    }
    &__links {
        width: 484px;
        height: 59px;
    }

    @media screen and (min-width:687px){
        width: 100%;
        height: 151px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .footer__content__links {
            width: 490px;
            height: 57px;
            text-align: initial;

            &>a {
                width: 117px;
                height: 20px;
                margin-right: 73px;
                text-decoration:none;
            }

        }
    }
}